.accepted{
    display:none;
    img{
        display:block;
        margin:auto;
        margin-top:152px;
    }
    h5{
        text-align: center;
        margin-top:15px;
        font-size:25px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    }
    p{
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 100;
        margin-top:20px;
        font-size: 17px;;
    }
}
#close{
    width:350px;
    display:block;
    margin: auto;
    position:relative;
    top:65px;
    height:55px;
    border-radius: 9px;
    background-color: orangered;
    border:1px solid black;
    color:white;
    font-size:19px;
    display:none;
}
@media screen and (max-width: 600px){
    .accepted{
        img{
            display:block;
            margin:auto;
            margin-top:22px;
        }
    }
}