.addticket{
    table{
        tr{
            td{
                span{
                    position:absolute;
                    top:90px;
                    left:60px;
                    h2{
                        font-size:25px;
                        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    }
                    p{
                        font-size:15px;
                    }
                }
                img{
                    width:45px;
                }
            }
        }
    }
}