.addticket{
    display:none;
    width:100%;
    .add1{
        margin-top:15px;
        display:flex;
        border-bottom:1px solid gray;
        padding-bottom:30px;
        img{
            width:45px;
            position:relative;
            left:5px;
        }
        span{
            margin-left:14px;
        }
        h3{
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size:18px;
            font-weight: 100;
            text-transform: uppercase;
        }
        p{
            font-size:13px;
        }
        .cost{
            position:relative;
            top:45px;
            right:35px;
            background-color:gray;
            height:25px;
            width:60px;
        }
    }
    .add2{
        margin-top:15px;
        display:flex;
        border-bottom:1px solid gray;
        padding-bottom:30px;
        img{
            width:43px;
            position:relative;
            left:5px;
        }
        span{
            margin-left:14px;
        }
        h3{
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size:18px;
            font-weight: 100;
            text-transform: uppercase;
        }
        p{
            font-size:12px;
        }
        .cost{
            position:relative;
            top:45px;
            right:35px;
            background-color:gray;
            height:27px;
            width:60px;
        }
    }
    
} 
#lot{
       margin-top:550px;
       text-align: end;
       margin-right:90px; 
       display:none;
}
@media screen and (max-width: 600px){
    .addticket{
        .add1{
            img{
                width:45px;
                height:55px;
            }
            span{
                margin-left:14px;
                display:flex;
                flex-direction: column;
                margin-top:9px;
            }
            h3{
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size:19px;
                width:135px;
                font-weight: 100;
                text-transform: uppercase;
            }
            p{
                font-size:14px;
            }
            .buy{
                position:absolute;
                left:135px;
                .count{
                    position:relative;
                    bottom:7px;
                }
            }
            
            .cost{
                margin-left:125px;
            }
        }
        
    }
    .add2{
        margin-top:15px;
        display:flex;
        border-bottom:1px solid gray;
        padding-bottom:30px;
        img{
            width:45px;
            height:55px;
        }
        span{
            margin-left:14px;
            display:flex;
            flex-direction: column;
            margin-top:9px;
        }
        h3{
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size:18px;
            font-weight: 100;
            text-transform: uppercase;
        }
        p{
            font-size:12px;
        }
        .cost{
            margin-right:5px;
        }
    }
}