footer{
    background-color: white;
    border-top:1px solid gray;
    position: relative;
    top:520px;
    nav{
        ul{
            display:flex;
            flex-wrap:wrap;
            justify-content: space-around;
            li{
                list-style:none;
                a{
                    display:flex;
                    flex-direction: column;
                    align-items: center;
                    text-decoration: none;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    color:gray;
                }
            }
        }
    }

}