.headertwo{
    display:none;
    .croix{
        position:absolute;
        left:22px;
        top:35px;
    }
    h2{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size:20px;
        text-align: center;
        margin-left:150px;
    }
    .menu{
        position:absolute;
        top:28px;
        left:400px;
        .rond1{
            border:1px solid white;
            width:5px;
            height:5px;
            border-radius:100%;
            background-color:white;
            position:relative;
        }
        .rond2{
            border:1px solid white;
            width:5px;
            height:5px;
            border-radius:100%;
            background-color:white;
            position:relative;
            top:2px;
        }
        .rond3{
            border:1px solid white;
            width:5px;
            height:5px;
            border-radius:100%;
            background-color:white;
            position:relative;
            top:4px;
            bottom:15px;
        }
    }
}
