.metropole{
    display:block;
    margin:auto;
    justify-content:center;
    align-items: center;
    position:relative;
    top:330px;
}
footer img{
    position:absolute;
    bottom:0;
    left:100px;
}