.none{
    .nope{
        text-align:center;
        margin-top:325px;
        font-size:23px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
    }
    p{
        text-align:center;
        font-size:15px;
    }   
} 
.letadd{
    padding:10px;
    width:255px;
    display:block;
    margin:auto;
    background-color: orangered;
    border:none;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 6px;
    font-size:17px; 
}