@use 'header.scss';
@use 'headertwo.scss';
@use 'footer.scss';
@use 'croix.scss';
@use 'headerforbuy.scss';
@use 'card.scss';
@use 'addtickets.scss';
@use 'low.scss';
@use 'more.scss';
@use 'add.scss'; 
@use 'shop.scss';
@use 'none.scss';
@use 'headercard.scss';
@use 'creditcard.scss';
@use 'money.scss';
@use 'bills.scss';
@use 'paid.scss';
@use 'accepted.scss';
@use 'help.scss';
@use 'cash.scss';
@use 'minibill.scss';
@use 'timer.scss';
@use 'menu.scss';


*{
    margin:0;
    padding:0;
}
body{
    background-color: whitesmoke;
}
@media screen and (min-width:600px){

}