#timer{
    text-align: center;
    margin-top:10px;
    background-color: rgba(0, 0, 0, 0.808);
    color:white;
    padding-left:10px;
    width:286px;
    margin-left:66px;
    padding:5px;
    border-bottom-right-radius:6px;
    border-bottom-left-radius: 6px;
    font-size:30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bold;
    position:absolute;
    top:250px;
}
@media screen and (max-width:600px){
    #timer{
        position:absolute;
        right:39px;
        top:245px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}